body {
	background: none repeat scroll 0 0 #dedede;
	font-family: Tangerine, Arial, sans-serif;
	font-size: 2.1em;
	margin: 0;
	padding: 0;
}

#content {
	position: fixed;
	top: 25%;
	left: 10%;
	tranform: translate(-50%,-50%);
}

#clock {
	font-size: 3.8em;
}

#clock3 {
	margin-left: 30px;
}
